{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" id="submit-button" type="submit">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
        {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}
