{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tâches</h1>
        <a href="{{ path('app_task_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fa fa-arrow-left me-1"></i> Liste des tâches
        </a>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}" class="text-decoration-none">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tâches</li>
        </ol>
    </nav>
    <hr class="sidebar-divider mb-4">

    <div class="col-8">
        {{ include('task/_form.html.twig') }}
    </div>

    <a href="{{ path('app_task_index') }}">back to list</a>
{% endblock %}
